<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">
                    <img src="assets/sagem.png" alt="Logo" style="width: 95%; height: 50%; margin-block-end: 0px;margin-block-start: 10px;">
                  </span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  
                  <li class="nav-item">
                      <a style="color: white;" href="#" class="nav-link align-middle px-0">
                          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="align-middle"></mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Home</span>
                      </a>
                  </li>
                  <li>
                      <a style="color: white;" href="#submenu2" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">people</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Users</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu2">
                          <li>
                              <a style="color: white;" routerLink="/users" routerLinkActive="active">Users List</a>
                          </li>
                      </ul>
                  </li>

                  <li>
                      <a style="color: white;" href="#submenu6" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">sync_alt</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Series' Change</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu6">
                          <li>
                              <a style="color: white;" routerLink="/series-change" routerLinkActive="active">Series' Change List</a>
                          </li>
                      </ul>
                  </li>
                  
                  <li>
                      <a style="color: white;" href="#submenu7" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">playlist_add_check</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Checklists</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu7">
                          <li>
                              <a style="color: white;" routerLink="/checklists" routerLinkActive="active">Checklists List</a>
                          </li>
                      </ul>
                  </li>
                  
                  <li>
                      <a style="color: white;" href="#submenu8" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">category</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Families</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu8">
                          <li>
                              <a style="color: white;" routerLink="/families" routerLinkActive="active">Families List</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a style="color: white;" href="#submenu1" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">code </mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Interfaces</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu1">
                          <li>
                              <a style="color: white;" routerLink="/interfaces">Interfaces List</a>
                          </li>
                      </ul>
                  </li>
                  
                      <li>
                          <a style="color: white;" href="#submenu5" data-bs-toggle="collapse">
                              <mat-icon class="align-middle">router</mat-icon>
                              <span class="ms-1 d-none d-sm-inline align-middle">Products</span>
                          </a>
                          <ul class="collapse list-unstyled" id="submenu5">
                              <li>
                                  <a style="color: white;" routerLink="/products" routerLinkActive="active">Products List</a>
                              </li>
                          </ul>
                      </li>
                  <li>
                      <a  style="color: white;"href="#submenu4" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">description</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Reports</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu4">
                          <li>
                              <a style="color: white;" routerLink="/reports" routerLinkActive="active"> Reports List </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a style="color: white;" href="#submenu3" data-bs-toggle="collapse">
                          <mat-icon class="align-middle">assessment</mat-icon>
                          <span class="ms-1 d-none d-sm-inline align-middle">Testers</span>
                      </a>
                      <ul class="collapse list-unstyled" id="submenu3">
                          <li>
                              <a style="color: white;"routerLink="/testers" routerLinkActive="active">Testers List </a>
                          </li>
                          
                      </ul>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <mat-icon>account_circle</mat-icon>
                      <span class="d-none d-sm-inline mx-1"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                      <li><a class="dropdown-item" href="#">New project</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
          <h3>Left Sidebar with Submenus</h3>
          <p class="lead">
             </p>
          <ul class="list-unstyled">
              <li><h5>Responsive</h5> </li>
          </ul>
      </div>
  </div>
</div>