.card {
  width: 400px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #00c1d6;
 }
 
 .noselect, button span {
  transition: 200ms;
 }
 
 .noselect .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 .noselect .icon {
  position: absolute;
  border-left: 1px solid #00c1d6;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .noselect svg {
  width: 15px;
  fill: #eee;
 }
 
 .noselect:hover {
  background: #ff3636;
 }
 
 .noselect:hover .text {
  color: transparent;
 }
 
 .noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .noselect:focus {
  outline: none;
 }
 
 .noselect:active .icon svg {
  transform: scale(0.8);
 }
 .logo-container {
  margin-right: 10px;
  text-align: center;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  order: 2; /* Increase the order value */
  margin-top: 8px;
}
.nomodify {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #00c1d6;
 }

.nomodify, button span {
  transition: 200ms;

 }

.nomodify .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

.nomodify .icon {
  position: absolute;
  border-left: 1px solid #00c1d6;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.nomodify svg {
  width: 15px;
  fill: #eee;
 }

.nomodify:hover {
  background: #ff3636;
 }

.nomodify:hover .text {
  color: transparent;
 }

.nomodify:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

.nomodify:focus {
  outline: none;
 }

.nomodify:active .icon svg {
  transform: scale(0.8);
}
.mat-icon-white {
  color: white;
}
.mat-accent{
  background-color: #00a8e6;
}


