<div class="card" style="width: 60%; height: 80%;">
  <div class="card-body">
    <div class="header" style="display: flex; align-items: center; justify-content: center;">
      <div class="logo-container" style="margin-right: 10px;">
        <img src="assets/sagemlogo.png" alt="Logo" style="width: 100px; height: 100px; margin-left: 10px;">
      </div>
    </div>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <h1 style="text-align: center;">Login</h1>
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Type your email" [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Type your password" [(ngModel)]="password" name="password">
        <small class="form-text forget-password"><a href="#">Forget password?</a></small>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <small *ngIf="isLoggedIn" class="form-text welcome-message">Welcome to the home page</small>
      <small *ngIf="!isLoggedIn && message" class="form-text error-message">{{ message }}</small>
      <small class="form-text no-account">Don't have an account? <a href="#">Register</a></small>
    </form>
  </div>
</div>
