<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="logo-container" style="margin-right: 10px;text-align: center;">
    <img src="assets/Logo.png" alt="Logo" style="width: 15%; height: auto; margin-block-end: 0px;margin-block-start: 10px;">
  </div>
<title>User List</title>   
<div class="card" style="width: 95%; height: auto;">  
<div class="example-button-row">
  <div class="example-flex-container">
    <div class="example-button-container" style="order: 2;">
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" style="margin-left: 1650%;"(click)="openModal()"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <mat-icon>add</mat-icon>
      </button>

</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <form class="form">
<p id="heading">Add Checklist</p>

<div class="field">
<svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">

</svg>
  <input autocomplete="off" placeholder="Titre" class="input-field" type="text" [(ngModel)]="checklist.titre" name="titre">
</div>

<div class="field">
  <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <!-- Use an appropriate SVG path for Last Name -->
  </svg>
  <input autocomplete="off" placeholder="Outillage" class="input-field" type="text" [(ngModel)]="checklist.outillage"name="outillage" required #outillageVar="ngModel"
  [ngClass]="{'is-invalid':outillageVar.touched && !outillageVar.valid}">
  <div class="invalid-feedback">
    <span *ngIf="outillageVar.errors?.['required']">
     
    </span>
  </div>>
</div>

<div class="field">
<svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">

</svg>
<input autocomplete="off" placeholder="Date" class="input-field" type="text" [(ngModel)]="checklist.date"name="date" required #dateVar="ngModel"
[ngClass]="{'is-invalid':dateVar.touched && !dateVar.valid}">
<div class="invalid-feedback">
  <span *ngIf="dateVar.errors?.['required']">
    Write your date
  </span>
</div>
</div>


<button class="button1" style="margin-left: 25.5%;" (click)="createChecklist()">Save</button>
</form>
</div>
</div>
</div>
<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <form class="form">
<p id="heading">Modify Checklist</p>

<div class="field">
<svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">

</svg>
  <input autocomplete="off" placeholder="Titre" class="input-field" type="text" [(ngModel)]="checklist.titre" name="titre">
</div>

<div class="field">
  <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <!-- Use an appropriate SVG path for Last Name -->
  </svg>
  <input autocomplete="off" placeholder="Outillage" class="input-field" type="text" [(ngModel)]="checklist.outillage"name="outillage">
</div>

<div class="field">
<svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">

</svg>
<input autocomplete="off" placeholder="Date" class="input-field" type="text" [(ngModel)]="checklist.date"name="date">
</div>


<button class="button1" style="margin-left: 25.5%;" (click)="updateChecklist(checklist.idChecklist)">Save</button>
</form>
</div>
</div>
</div>


<table style="margin-left: 58px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Outillage</th>
            <th>Date</th>
           
        </tr>
    </thead>
    <tbody *ngFor ="let checklist of listChecklist">
        <tr>
            <td>{{checklist.idChecklist}}</td>
            <td>{{checklist.titre}}</td>
            <td>{{checklist.outillage}}</td>
            <td>{{checklist.date}}</td>

            <td style="width: 5%; max-width: 100%; margin: 0 auto;">
                <button  class="nomodify" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="openUpdateModal(checklist.idChecklist)">
                    <span class="text">Modify</span>
                    <span class="icon">
                        <mat-icon class="mat-icon-white">create</mat-icon>
                    </span>
                </button>
                </td>
            <td style="width: 5%; max-width: 100%; margin: 0 auto;">
    
              <button  class="noselect" (click)="deleteChecklist(checklist.idChecklist)"><span class="text" >Delete</span><span class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">

    </path></svg></span></button>
                </td>
            
        </tr>
        
    </tbody>
</table>

</div>

